# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz

# config
config/env/env.json
config/env/test.js


# Coveralls
coverage

# Benchmarking
benchmarks/graphs